<form ng-submit="enviar()" autocomplete="off">
    <div class="form-group">
        <div class="form-group">
          <div ng-if="user.tipo !== 0">
            <label form="ListaDeProf">Para:</label>
            <select ng-if="respuesta === undefined" ng-model="carta.receptor_id" class="form-control" id="ListaDeProf" name="lista de profesionales" ng-change="revisar()" required>
              <option ng-repeat = "usuario in usuarios" value = "{{usuario.id}}">
                {{usuario.correo}} - {{usuario.rol}}
              </option>
            </select>
            <label ng-if="respuesta && carta_enviada.tipo_emisor == 1">{{carta_enviada.emisor.nombre}}</label>
            <label ng-if="respuesta && carta_enviada.tipo_emisor == 0">{{carta_enviada.emisor.nombre}}</label>
            <br>
            <label for="asunto">Asunto: </label>
            <input ng-model="carta.titulo" type="text" class="form-control" id="asunto" required>
            <br>
          </div>
          <label for="areaDeMensaje">Mensaje:</label>
      <textarea ng-model="carta.contenido" class="form-control" rows="5" id="areaDeMensaje" name="area de Mensaje" required></textarea>
    </div>
    <!--<button type="button" class="btn btn-info">Elegir archivo</button>-->
    <div>
      <label>Cargar Archivo:</label> <br>
      <input type="file" id="archivo" ng-files="setTheFiles($files)">
    </div>
    <div ng-if="habilitar == true">
      <br>
      <label>
        <input type="checkbox" ng-model="carta.solicitud" ng-true-value="1" ng-false-value="0" ng-change = "file()">
        Solicitar boletin
      </label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" id="enviarCarta" name="enviar carta">Enviar</button>
</form>