<!--<div class="footer">
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="#"> MoonSoft.SRL</a>
        </div>
      </footer>
</div>-->
<br>
<br>
<div class="footer">
  <div class="footer-copyright text-center py-3">Copyright 2019:
    <a href="#"> MoonSoft.SRL. Todos los derechos reservados. </a>

  </div>
</div>