<div class="header" style="text-align: center;">
  MENSAJERO
  <img src="../imagenes/logo.jpg" class="img-thumbnail img-responsive" alt="Mensajero logo" width="200" height="150">
</div>
<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link" href="#!bienvenidoAdmin">Perfil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!bandejaEntrada">Bandeja de Entrada</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!bandejaSalida">Bandeja de Salida</a>
    </li>
    <li class="dropdown">
        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
            Mis Boletines
          </button>
                  <ul class="dropdown-menu">
                    <li> <a class="dropdown-item" href="#!redactarBoletin">Ver Boletines</a></li>
                    <li><a class="dropdown-item" href="/files/NUEVOBOLETIN.pptx">Plantillas</a></li>
                  </ul>
               
    </li>
    <li class="nav-item">
      <button class="nav-link log-out" ng-click=cerrarSesion()>Cerrar Sesión</button>
    </li>
  </ul>
  <div id="sideNavigation" class="sidenav">
    <a onclick="closeNav()">&times;</a>
    <a class="nav-link" href="#!mision">Misión</a>
    <a class="nav-link" href="#!vision">Visión</a>
    <a class="nav-link" href="#!verBoletines">Boletines</a>
    <a class="nav-link" href="#"> Página principal</a>
    
    <button class="nav-link log-out btn-sm" ng-click=cerrarSesion()>Cerrar Sesion</button>
  </div>
  <nav class="topnav ">
    <a onclick="openNav()">
      <svg width="30" height="30" id="icoOpen">
          <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
          <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
          <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
      </svg>
    </a>
    <h1 style="font-size: 18px;margin-top:1vw;">Bienvenido Editor</h1>
  </nav>
  <div class="presentacion"  >
    <label class="" style="margin-left: 1vw;">Bienvenido</label>
    <label class="" style="margin-left: 15vw;">Usuario Editor</label>
  </div>
</div>