<div class="header">
        MENSAJERO
        <img src="../imagenes/logo.jpg" class="img-thumbnail img-responsive" alt="Mensajero logo" width="200" height="150">
      </div>
      <div class="container">
          <div class="in-parallax-div">
              <a href="#"><button type="button" class="btn btn-primary btn-sm">Inicio</button></a>
              <a href="#!mision"><button type="button" class="btn btn-primary btn-sm">Misión</button></a>
              <a href="#!vision"><button type="button" class="btn btn-primary btn-sm">Visión</button></a>
              <button type="button" ng-if="usuario === undefined" class="btn btn-primary btn-sm" ng-click="toLogin()"> Iniciar Sesion</button>
              <button type="button" ng-if="usuario !== undefined" class="btn btn-primary btn-sm" ng-click="inicio(usuario)"> Mi Cuenta</button>
              <a href="#!verBoletines"><button type="button" class="btn btn-info btn-sm">Boletines</button></a>
            </div>
      </div>