<div class="header">
    <div class="logo">
        MENSAJERO
        <img src="../imagenes/logo.jpg" class="img-thumbnail img-responsive " alt="Mensajero logo" width="150" height="100">
  </div>
  
  </div>