<div class="header">
  <div class="logo">
      MENSAJERO
      <img src="../imagenes/logo.jpg" class="img-thumbnail img-responsive " alt="Mensajero logo" width="150" height="100">
</div>
</div>
<div class="container">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link" href="#!bienvenido">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!bandejaEntrada">Bandeja de Entrada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!bandejaSalida">Bandeja de Salida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!redactarBoletin">Mis Boletines</a>
        </li>
        <li class="nav-item">
          <button class="nav-link log-out" ng-click=cerrarSesion()>Cerrar Sesion</button>
        </li>
      </ul>
<div id="sideNavigation" class="sidenav">
    <a onclick="closeNav()">&times;</a>
    <a class="nav-link" href="#!mision">Misión</a>
    <a class="nav-link" href="#!vision">Visión</a>
    <a class="nav-link" href="#!verBoletines">Boletines</a>
    <a class="nav-link" href="#"> Página principal</a>
  
    <button class="nav-link log-out btn-sm" ng-click=cerrarSesion()>Cerrar Sesion</button>
  </div>
  <nav class="topnav">
    <a onclick="openNav()">
      <svg width="30" height="30" id="icoOpen">
          <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
          <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
          <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
      </svg>
    </a>
    <h1 style="font-size: 18px;margin-top:1vw;">Bienvenido Especialista - Area {{user.area}}</h1>
  </nav>
  </div>