<div class="container">
    <h3>Información del perfil</h3>
    <form>
        <div class="form-group col-md-6">
            <label for="email">Nombre(s) y Apellidos:</label>
            <input type="text" class="form-control size" id="nombre-Administrador" name="Nombre" readonly value="{{user.nombre_completo}}" ng-blur="guardar($event)" ng-click="editar($event)" />
        </div>
        <div class="form-group col-md-6">
            <label for="email">Correo Electrónico:</label>
            <input type="email" class="form-control size" id="email-Administrador" name="Correo" readonly value="{{user.correo}}" ng-blur="guardar($event)" ng-click="editar($event)">
        </div>
        <div class="form-group col-md-6">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control size" id="direccion-Administrador" name="Direccion" readonly value="{{user.direccion}}" ng-blur="guardar($event)" ng-click="editar($event)">
        </div>
        <div class="form-group col-md-6">
            <label for="telefono">Teléfono:</label>
            <input type="number" class="form-control size" id="telefono-Administrador" name="Telefono" readonly value="{{user.telefono}}" ng-blur="guardar($event)" ng-click="editar($event)">
        </div>
        <div class="form-group col-md-6">
            <label for="profesion">Profesión:</label>
            <input type="text" class="form-control size" id="profesion-Administrador" name="Profesion" disabled value="{{user.profesion}}" ng-blur="guardar($event)" ng-click="editar($event)">
        </div>
    </form>
</div>
