<div class="form-group">
    <div class="form-group">
      <label>De:</label>
      <a ng-if="carta_enviada.emisor_id !== user.id" href="#!verPerfil/{{carta_enviada.emisor_id}}">{{carta_enviada.emisor.nombre}}</a>
      <a ng-if="carta_enviada.emisor_id === user.id" >Mi ({{carta_enviada.emisor.nombre}})</a>
      <br>
      <label>Para:</label>
      <a ng-if="carta_enviada.receptor_id !== user.id && tipo != 'admin'" href="#!verPerfil/{{carta_enviada.receptor_id}}">{{carta_enviada.receptor.nombre}}</a>
      <select ng-if="tipo == 'admin'" ng-model="carta_enviada.area_id" ng-change="actualizar(carta_enviada)">
        <option ng-repeat = "area in areas" value="{{area.id}}">
          {{area.nombre}}
        </option>
      </select>
      <a ng-if="carta_enviada.receptor_id === user.id" >Mi ({{carta_enviada.receptor.nombre}})</a>
      <br>
      <label>Fecha:{{carta_enviada.created_at}}</label>
      <br>
      <label>Asunto: {{carta_enviada.titulo}}</label>
      <br>
      <label>Mensaje:</label>
      <p>{{carta_enviada.contenido}}</p>
      <div ng-if="carta_enviada.archivo !== undefined">
          <label>Archivo adjunto:</label>
          <a href="/api/Archivo/{{carta_enviada.archivo.id}}">{{carta_enviada.archivo.nombre_archivo}}</a>
      </div>
    </div>
</div>