.log-out {
    color: red;
    transition: 300ms;
    background-color: white;
    border: 0.1em solid red;
    font-weight: 700;
}

.log-out:hover {
    transition: 300ms;
    background-color: red;
    color: white;
}

.in-parallax-div {

    height: auto;

    color: azure;
    text-align: center;
}

.in-parallax-div div {
    margin-bottom: 8%;
}

.in-parallax-div h1 {
    font-size: 6em;
    ;
}

.in-parallax-div button {
    color: aliceblue;
    border: none;
    padding: 0.8em 1em;
    font-weight: bold;
    border-radius: 5%;
}

.bgBlue {
    background-color: rgb(70, 60, 216)
}

.bgPurple {
    background-color: rgb(107, 5, 186)
}

.parallax {
    /* The image used */
    background-image: linear-gradient(blue, white);


    /* Set a specific height */
    height: 35vw;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.col-sm-4 p {
    color: rgb(34, 34, 136);
    font-size: 18px;
}

.post-parallax {
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 72, 143);
    background-image: linear-gradient(to bottom right, rgb(203, 227, 243), white);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.centered-div {
    width: 40vw;
    position: absolute;
    margin-top: 2vh;
    margin-left: 1vw;
    text-align: left;

}


.centerDiv p {
    color: black;
    font-size: 2em;
    font-weight: bold;
    text-align: center;

}

p {
    color: rgba(0, 75, 145, 0.712);
    font-size: 0.85em;
    font-weight: bold;
    text-align: center;
}

.logo {
    width: 100vw;
    height: 11vw;
    background-color: white;

}

.header {
    margin-left: 5vw;
    font-size: 2.5em;
    font-weight: bold;
    color: rgba(0, 75, 145, 0.712);
    margin-bottom: 0.5vw;
    border-bottom: 5px solid rgba(0, 75, 145, 0.712);

}

.header .logo {
    margin-left: 25vw;
    height: 7vw;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}


.seleccionable:hover {
    background-color: rgba(161, 203, 241, 0.932)
}

/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            
}*/
.footer, .push {
  /*  position: fixed;*/
    left: 0;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    text-align: center;
    background-color: rgb(11, 1, 58);
    color: white;
}

.atras {
    margin-bottom: 2em;
    ;
}

.institucional {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(203, 227, 243), white);
}

.margen {
    border: 0.1em solid rgb(34, 34, 136);
    margin-top: 2vw;
    margin-left: 3vw;
    margin-right: 3vw;
    border-radius: 5%;
}

.espacio {
    margin-bottom: 2vw;
}

.divh1 {
    color: rgb(34, 34, 136);
}

.div-scroll {
    margin: 4px, 4px;
    padding: 4px;
    width: 18rem;
    height: 16rem;
    overflow-x: hidden;
    overflow-x: auto;
    text-align: justify;
}

.hidden {
    display: none;
}

.blueSkyBg {
    background-color: rgb(221, 248, 250);
    padding: 2em;
    border-radius: 5vw;
    ;
}

.contenido {
    color: black;
    font-size: 1em;
    text-align: left;
    width: 80%;
    background-color: rgb(240, 236, 241);
    border-radius: 5vw;
    padding: 2em;
    margin-left: 10%;
}

.descripcion {
    font-size: 20px;
    background-color: white;
    text-align: left;
}

.comentarios {
    margin-bottom: 0.5em;
    background-color: rgb(215, 196, 225);
    border-radius: 5vw;
    padding: 1.5em;
    width: 40vw;
}

.fondo1 {
    background-image: url("../imagenes/fondoKids.jpg");
    color: white;
    height: 253px;
    width: 400px;
    text-align: justify;
}

.areas {
    margin-left: 15vw;
}

.container {
    width: 65vw;
    font-size: 0.95em;
    font-weight: bold;
}

.container .size {
    font-size: 0.98em;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #132c8a;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */

}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    font-weight: 700;
    border: 0.1em solid white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
    color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

/*
body {
  overflow-x: hidden;
}
 
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

a svg {
    transition: all .5s ease;
}


#ico {
    display: none;
}

.menu {
    background: #000;
    display: none;
    padding: 5px;
    width: 320px;
    border-radius: (5px);

    transition: all 0.5s ease;
}

a:nth-child(1) {
    margin-top: 0;
    border-radius: (3px 3px 0 0);
}

a:nth-child(5) {
    margin-bottom: 0;
    border-radius: (0 0 3px 3px);
}

a:hover {
    background: #555;
}

.nav-link.log-out {
    text-align: start;
    padding-left: 27px;
}

/* .nav-custom {
    font-size: 16px;
}*/

.vuelta {
    transition: all 1s;
    transform-style: preserve-3d;
}

.vuelta:hover {
    transform: rotateY(360deg);
}

.fondoninho {
    height: 100vw;
    width: 100vw;
    background: rgb(240, 230, 92);
    background: -moz-linear-gradient(left, rgba(241, 231, 103, 1) 0%, rgba(250, 245, 197, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241, 231, 103, 1)), color-stop(100%, rgba(250, 245, 197, 1)));
    background: -webkit-linear-gradient(left, rgba(241, 231, 103, 1) 0%, rgba(250, 245, 197, 1) 100%);
    background: -o-linear-gradient(left, rgba(241, 231, 103, 1) 0%, rgba(250, 245, 197, 1) 100%);
    background: -ms-linear-gradient(left, rgba(241, 231, 103, 1) 0%, rgba(250, 245, 197, 1) 100%);
    background: linear-gradient(to right, rgba(241, 231, 103, 1) 0%, rgba(250, 245, 197, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1e767', endColorstr='#faf5c5', GradientType=1);
}

.carousel-inner img {
    width: 90%;
    height: 50%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  
  background-size: 100%, 100%;

  background-image: none;
}

.carousel-caption {
    position: static;
    z-index: 1;
    display:table;
    widows: 80%;
    height:20%;
}

.carousel-caption div {
    display:table-cell;
    vertical-align: middle;
    font-style: oblique;
    text-align: center;
}

.trickcenter {
    position: fixed;
    top: 50%;
    left: 50vw;
    
    font-size: 30px;
    transform: translate(-5%, -50%);
}
.bloque{
    background-color:rgba(19, 120, 214, 0.733);
}
    
    

.bloque p{
    font-size: 0.85em;
    color: white;
    text-align: left;
    margin-left: 1.5vw;
}
.bloque h2{
    font-size: 1.8em;
    color: rgb(24, 16, 139);
    text-align: left;
    margin-left: 3vw;
}

.presentacion{
    font-size: 1em;
     background-color :rgba(0, 75, 145, 0.712); 
     color: white;
}
.container h1{
font-size: 1.45em;
}
