<div ng-if="user.rol_id == '3'" ng-include="'/shared/headerAdmin.html'"></div>
<div class="areas">
        <h1>Área {{area.nombre}}</h1>
        <hr>
        <h3>Palabras claves (diccionario)</h3>
        <ul>
            <li ng-repeat = "parametro in area.parametros">{{parametro}}</li>
        </ul>
        <form ng-submit = "parametro()">
            <input type="text" id="parametro" required><button class="btn btn-primary" type="submit">Agregar</button>
        </form>
        <h3>
            Profesiones de area
        </h3>
        <ul>
            <li ng-repeat = "profesion in area.profesiones">{{profesion.nombre}}</li>
        </ul>
        <form ng-submit = "profesion()">
            <input type="text" id="profesion" required><button class="btn btn-primary" type="submit">Agregar</button>
        </form>
        <button ng-click="atras()" class="btn btn-warning">Atrás</button>             
        <div ng-include="'../shared/footer.html'"></div>
</div>
