<div ng-if="user.rol_id == '1'" ng-include="'/shared/headerEditor.html'"></div>
<div ng-if="user.rol_id == '2'" ng-include="'/shared/headerNoAdmin.html'"></div>
<div ng-if="user.rol_id == '3'" ng-include="'/shared/headerAdmin.html'"></div>
<div class="row">
  <div class="container">
  <h3>Cartas enviadas</h3>
  <table class="table ">
    <thead>
      <tr>
          <th scope="col">
              Marcar
          </th>
        <th scope="col">Para:</th>
        <th scope="col">Título:</th>
        <th scope="col">Fecha:</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="carta in cartas" class="seleccionable">
        <td>
            <input ng-model="carta.seleccionado" type="checkbox" id="checkboxBandejaS">
        </td>
        <td ng-click="verCarta(carta.id)">{{carta.receptor.nombre}}</td>
        <td ng-click="verCarta(carta.id)">{{carta.titulo}}</td>
        <td ng-click="verCarta(carta.id)">{{carta.fecha_emision}}</td>
      </tr>
    </tbody>
  </table>
  <div>
      <label ng-if="cartas.length === 0">SIN CARTAS ENVIADAS</label>
  </div>
  <div style="text-align: center;">
      <button class="btn btn-success btn-sm " ng-click="redactar()">Redactar</button>
  </div>
  <div>
      <button class="btn btn-danger btn-sm" ng-click="eliminarSeleccionados()">Eliminar seleccionados</button>
  </div>
  </div>
</div>
<div ng-include="'../shared/footer.html'"></div>