<div class="header">
  <div class="logo">
      MENSAJERO
      <img src="../imagenes/logo.jpg" class="img-thumbnail img-responsive " alt="Mensajero logo" width="150" height="100">
</div>
</div>
<div class="fondoninho">
<div class="container">
  <div style="text-align: right;">
    <button class="btn btn-danger" ng-click="cerrarSesion()" style="text-align: right;">Salir de la guarida</button>
  </div>
  <div style="text-align: center;">
    <h1>Bienvenido de vuelta {{usuario.nombre_usuario}}</h1>
    <img ng-src="{{usuario.avatar.nombre_imagen}}" style="width:20vw; height:20vw;" class="vuelta"/>
    </div>
    <h3 style="font-size: 1em;">Cartas enviadas</h3>
  <table class="table">
    <thead>
      <tr>
          <th scope="col">
              Marcar
          </th>
        <th scope="col">Fecha envio:</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="carta in cartas" class="seleccionable">
        <td>
            <input ng-model="carta.seleccionado" type="checkbox" id="checkboxBandejaS">
        </td>
        <td ng-click="verCarta(carta.id)">{{carta.fecha_emision}}</td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: left;">
      <button class="btn btn-success " ng-click="redactar()">Redactar</button>
  </div>
  <hr>
  <h3>Cartas recibidas</h3>
  <table class="table">
    <thead>
      <tr>
          <th scope="col">
              Marcar
          </th>
          <th scope="col">Asunto</th>
        <th scope="col">Fecha llegada:</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="carta in cartas_recibidas" class="seleccionable">
        <td>
            <input ng-model="carta.seleccionado" type="checkbox" id="checkboxBandejaS">
        </td>
        <td ng-click="verCarta(carta.id)">{{carta.titulo}}</td>
        <td ng-click="verCarta(carta.id)">{{carta.fecha_emision}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <button class="btn btn-danger " ng-click="eliminarSeleccionados()">Eliminar seleccionados</button>
  </div>
</div>
<br>
</div>
<div ng-include="'../shared/footer.html'"></div>