<div ng-if="user.rol_id == '2'" ng-include="'/shared/headerNoAdmin.html'"></div>
<div ng-if="user.rol_id == '1'" ng-include="'/shared/headerEditor.html'"></div>
<div class="container">
    
    <div ng-include="'/shared/perfil.html'"></div>
</div>
<div ng-include="'../shared/footer.html'"></div>