<div ng-if="user.rol_id == '3'" ng-include="'/shared/headerAdmin.html'"></div>
<div class="row">
        <div class="container">
            <h3>Cartas perdidas</h3>
            <button class="btn-sm btn-success" ng-click="actualizar()">Actualizar bandeja</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            
                        </th>
                        <th scope="col">De</th>
                        <th scope="col">Título</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="carta in cartas" class="seleccionable">
                        <td>
                            <label ng-if="carta.visto == 0" class="text-white font-weight-bold bg-info">NUEVO</label>
                            <input ng-model="carta.seleccionado" type="checkbox" id="checkboxBandejaE">
                        </td>
                        <td ng-click="verCarta(carta.id)">
                            {{carta.emisor.nombre}}
                        </td>
                        <td ng-click="verCarta(carta.id)">
                            {{carta.titulo}}
                        </td>
                        <td ng-click="verCarta(carta.id)">
                            {{carta.fecha_emision}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <label ng-if="cartas.length === 0">TODAS LAS CARTAS TIENEN UN DESTINO. SI LLEGARA UNA CARTA AQUI, ES PORQUE NO PUDO SER CLASIFICADA</label>
            </div>
        </div>
    </div>
    <div ng-include="'../shared/footer.html'"></div>