<div ng-if="user.rol_id == '3'" ng-include="'/shared/headerAdmin.html'"></div>
<div class="container">
        <h2>
            Nueva area
        </h2>
        <hr>
        <form ng-submit = "guardar()">
            <label>Nombre:</label>
            <input type="text" required ng-model="area.nombre">
            <h6></h3>Palabras claves (diccionario)</h6>
            <ul>
                <li ng-repeat = "parametro in area.diccionario">{{parametro}}</li>
            </ul>    
            <input type="text" id="parametro" ng-keydown="validar($event)"><input type="button" class="btn btn-primary" ng-click="parametro()" value="Agregar">
            <h6>
                Profesiones de area
            </h6>
            <ul>
                <li ng-repeat = "profesion in area.profesiones">{{profesion}}</li>
            </ul>
            <input type="text" id="profesion" ng-keydown="validar($event)"><input type="button" class="btn btn-primary" ng-click="profesion()" value="Agregar">
            <br>
            <button class="btn btn-success" type="submit">Guardar</button>
        </form>
                    
</div>
<div ng-include="'../shared/footer.html'"></div>
