<div class="header">
  MENSAJERO
  <img src="../imagenes/logo.jpg" class="img-thumbnail img-responsive" alt="Mensajero logo" width="200" height="150">
</div>
<div class="institucional">
  <div class="container">
    <h1>Elige un superheroe</h1>
    <button ng-repeat="avatar in avatars" ng-click="seleccionar(avatar)">
      <img ng-src="{{avatar.nombre_imagen}}" class="img-circle img-responsive" alt="{{avatar.nombre_avatar}}" width="80vw" height="80vw">
    </button>
  </div>
  <br>
  <div class="container">
    <form action="/action_page.php" class="was-validated">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="input" class="form-control" id="usuarioninho" data-tonggle="tooltip" title="Elige un superheroe para ver tu nombre" placeholder="Elige un superheroe" name="usuarioninho" disabled>
      </div>
      </br>
      <div class="form-group">
        <button ng-click="guardar()" type="button" class="btn btn-primary" data-tonggle="tooltip" title="A un solo paso para comenzar a escribir cartas">Guardar</button>
      </div>
      </br>
      <div>
        <label>¿Ya tienes una cuenta? </label><a href="#!loginNinho" data-tonggle="tooltip" title="Seguramente elegiste al mejor avatar, dale click e inicia sesion con el"> Iniciar Sesion</a>
      </div>
      <br>
    </form>
    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#"> MoonSoft.SRL</a>
      </div>
    </footer>
  </div>
  </div>