<div class="header">
    MENSAJERO
    <img src="../imagenes/logo.jpg" class="img-thumbnail img-responsive" alt="Mensajero logo" width="200" height="150">
  </div>
  <div class="institucional">

    <div class="container">
        
            <div class="container col-md-6 margen">
                <br>
                <div id="logo-container"></div>
                <div class="fondo1" style="align-content: center;">
                    <h1>LOGIN</h1>
                </div>
                <br>
                    <div class="col-sm-12 col-md-10 col-md-offset-1" style="text-align: center;"> 
                        <form ng-submit="entrar()" id="loginFormNinho" style="text-align: center;">
                            <div class="form-group input-group" style="text-align: center;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control" type="text" name='Nombre Superheroe' data-tonggle="tooltip" title="Seguro tienes el mejor nombre de superheroe, ingresalo aqui" id="nombre" placeholder="Escribe tu nombre de superheroe aqui"/>
                            </div>
                            <div class="form-group" style="text-align: center;">
                                <button type="submit" class="btn btn-primary" data-tonggle="tooltip"
                                    title="Dale click para empezar a escribir">Ingresar </button>
                                    <button type="button" class="btn btn-danger" data-tonggle="tooltip"
                            title="¿Estas seguro de que quieres salir?"ng-click="atras()">Cancelar</button>
                            </div>
                        </form>
                        <div class="form-group text-center">
                            <a data-tonggle="tooltip" title="Nosotros te podemos ayudar">¿Aun no tienes usuario registrado?</a>&nbsp;|&nbsp;<a href="#!registroNinho" data-tonggle="tooltip" title="Es necesario tener una cuenta para escribir una carta">Crear una nueva cuenta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> MoonSoft.SRL</a>
        </div>
    </footer>