<div class="header">
        MENSAJERO
        <img src="../imagenes/logo.jpg" class="img-thumbnail img-responsive" alt="Mensajero logo" width="200" height="150">
      </div>
      <div class="container">
          <div class="in-parallax-div">
              <a href="#"><button type="button" class="btn btn-primary btn-sm">Inicio</button></a>
              <button type="button" class="btn btn-primary btn-sm">Misión</button>
              <button type="button" class="btn btn-primary btn-sm">Visión</button>
              <a href="#!verBoletines"><button type="button" class="btn btn-info btn-sm">Boletines</button></a>
            </div>
      </div>
            <br>
        <div class="container col-md-4 form-style">
            <form ng-submit="entrar()" class="was-validated">
                <h2>Iniciar sesión</h2>
                <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="email" class="form-control" placeholder="Ingrese Correo Electronico" name="email" id="correo" required>
                </div>
                <br>
                <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Ingrese contraseña" name="pwd" id="contrasenha" required>
                </div>
                </br>               
                <div>
                    <label>¿Aún no tienes cuenta? </label><a href="#!registro"> Regístrate</a>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-sm" >Aceptar</button>
                <button type="button" class="btn btn-danger btn-sm"ng-click="atras()">Cancelar</button>
                </br>
                
            </form>
        </div>
    </div>    
<div ng-include="'../shared/footer.html'"></div>
