<div class="header">
    MENSAJERO
    <img src="../imagenes/logo.jpg" class="img-thumbnail img-responsive" alt="Mensajero logo" width="200" height="150">
  </div>
  <div class="container">
      <div class="in-parallax-div">
          <a href="#"><button type="button" class="btn btn-primary btn-sm">Inicio</button></a>
          <a href="#!mision"><button type="button" class="btn btn-primary btn-sm">Misión</button></a>
          <a href="#!vision"><button type="button" class="btn btn-primary btn-sm">Visión</button></a>
          <button type="button" ng-if="usuario === undefined" class="btn btn-primary btn-sm" ng-click="toLogin()"> Iniciar Sesion</button>
          <button type="button" ng-if="usuario !== undefined" class="btn btn-primary btn-sm" ng-click="inicio(usuario)"> Mi Cuenta</button>
          <a href="#!verBoletines"><button type="button" class="btn btn-info btn-sm">Boletines</button></a>
        </div>
  </div>
<br>
<div class="institucional">
    <br>
<div class="row">
        <div class="col-md-4">
                <img style="width:500px; height:400px;" src="imagenes/mision.png" class="rounded floated-left"/>
            </div>
    <div class="container col-md-4 margen">
        <h2>Misión</h2>
        <p class="lead">Somos un Boletin informativo capaz de crear</p>
        <p class="lead">un espacio donde los niños puedan dar</p>
        <p class="lead">su opinion sobre tems de caracter publico,</p>
        <p class="lead"> desde el punto de vista de los mas pequeños</p>
        <p class="lead">utilizando cuentos y articulos para brindar</p>
        <p class="lead">mejor atencion del publico general que</p>
        <p class="lead">nos visita en la web.</p>
    </div>
</div>
</div>
<br>
<div class="footer">
  <div class="footer-copyright text-center py-3">Copyright 2019:
    <a href="#"> MoonSoft.SRL. Todos los derechos reservados. </a>

  </div>
</div>