<div ng-include="'/shared/headerAdmin.html'"></div>
<div class="container">
    <h1>Bienvenido</h1>
    <div ng-include="'/shared/perfil.html'"></div>
</div>
<div ng-include="'../shared/footer.html'"></div>
