<div ng-include="'/shared/headerPublico.html'"></div>
<div class="post-parallax">
  <br>
  <div class="rows">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
            width="200" height="200">
            <div class="carousel-caption trickcenter">
                <div>Mensajero, es un sistema caracterizado  por  publicar  propuestas del desarrollo de la imaginación y pensamiento de cada niño que suelen ser una fuente de creatividad inmensa,
                    libre de malicia y llena de humanidad.</div>
            </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
            width="200" height="200">
            <div class="carousel-caption trickcenter">
                <div>       La iniciativa del sistema Mensajero rescata las vivencias de los niños a tráves de la publicación de un Boletín
                    en el cual se ven rsponsables profesionales de diferentes áreas y un editor.</div>
            </div>
        </div>
        <div class="carousel-item ">
          <img
            src="https://images.unsplash.com/photo-1521225753516-46438a76f25a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
            width="200" height="200">
            <div class="carousel-caption trickcenter">
                <div>El niño es un ser social: desde que nace se relaciona con el medio que lo rodea. El niño aprende porque establece relaciones y encuentra elementos de comprensión y vínculos afectivos con el mundo.</div>
            </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  <br>
  <div class="bloque">
      <div class="row ">

        <div class="col-sm-4 ">
          
          <h2>SOBRE NOSOTROS</h2>
          <p>
            MENSAJERO revista 2019
          </p>
          <p>Esta bajo licencia de Creative Commons</p>
        </div>
        <div class="col-sm-4 escribir" style="background-color:rgb(245, 245, 245);">
            <h2>A ESCRIBIR!</h2>
            <div class="col order-12">
                <img src="../imagenes/ninho2.png" alt="" class="" width="350" height="150">
              </div>
              <br>
              <a class="vuelva" ng-if="usuario === undefined" href="#!loginNinho" data-tonggle="tooltip" title="Comencemos a escribir">
                <button type="button" class="btn btn-warning btn-lg">Escribir una carta</button></a>
              <a ng-if="usuario !== undefined" href="#!bienvenidoNinho" data-tonggle="tooltip" title="Comencemos a escribir">
                <button type="button" class="btn btn-warning btn-lg">Escribir una carta</button></a>

        </div>
        <div class="col-sm-4">
          <h2>CONTACTOS</h2>
          <p> <i class="fas fa-phone-square-alt"></i> Contactos : 49203490 - 79720198</p>
          <p>Dirección: Av. Santa Cruz y Pedro Blanco #3011</p>
          <p>Cochabamba - Bolivia</p>
          
        </div>
      </div>
    </div>
  
</div>


<div ng-include="'../shared/footer.html'"></div>