<div ng-if="user.rol_id == '1'" ng-include="'/shared/headerEditor.html'"></div>
<div ng-if="user.rol_id == '2'" ng-include="'/shared/headerNoAdmin.html'"></div>
<div ng-if="user.rol_id == '3'" ng-include="'/shared/headerAdmin.html'"></div>
<div ng-if="user.rol_id == '0'" ng-include="'/shared/headerNinho.html'"></div>
<div class="container">
  <h1>Redactar Carta</h1>
  <div ng-include="'../shared/crearCarta.html'"></div>  
 
</div>
<br>
<br>
<br>
<div ng-include="'../shared/footer.html'"></div>