<div ng-if="user.rol_id == '1'" ng-include="'/shared/headerEditor.html'"></div>
<div ng-if="user.rol_id == '2'" ng-include="'/shared/headerNoAdmin.html'"></div>
<div ng-if="user.rol_id == '3'" ng-include="'/shared/headerAdmin.html'"></div>
<div class="container">
    <h1>Mis boletines</h1>
    <table class="table table-bordered table-primary">
        <thead>
            <tr>
                <th>Número boletin</th>
                <th>Título</th>
                <th>Editor</th>
                <th>Revisor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="boletin in boletines" ng-click = ir(boletin.id) class="seleccionable">
                <td>
                    #{{boletin.id}}
                </td>
                <td>
                    {{boletin.titulo}}
                </td>
                <td ng-if = "user.rol_id == '1'">
                    Usted
                </td>
                <td ng-if = "user.rol_id == '2'">
                    {{boletin.editor}}
                </td>
                <td ng-if = "user.rol_id == '2'">
                    Usted
                </td>
                <td ng-if = "user.rol_id == '1'">
                    {{boletin.revisor}}
                </td>
                <td ng-if = "boletin.alerta == 1">
                    Novedades
                </td>
                <td ng-if = "boletin.alerta == 0">
                    
                </td>
            </tr>

        </tbody>
    </table>
</div>
<div ng-include="'../shared/footer.html'"></div>