<div class="header">
  MENSAJERO
  <img src="../imagenes/logo.jpg" class="img-thumbnail img-responsive" alt="Mensajero logo" width="200" height="150">
</div>
<div class="institucional">
    <div class="in-parallax-div">
        <button class="bgBlue btn-sm">Misión</button>
        <button class="bgBlue btn-sm">Visión</button>
        <button ng-if="usuario === undefined" class="bgBlue btn-sm" ng-click="toLogin()"> Iniciar Sesión</button>
        <button ng-if="usuario !== undefined" class="bgBlue btn-sm" ng-click="inicio(usuario)"> Mi Cuenta</button>
        <button class="bgPurple btn-sm">Boletines</button>
    </div>
    <br>
    <div class="container col-md-4 form-style">
        <form autocomplete="off" ng-submit="registrar()">
              <h2>Registro nuevo usuario</h2>
            <div class="form-group">
              <label for="nombre">Nombre(s) y Apellidos:</label>
              <input type="input" class="form-control" id="nombre" placeholder="Nombre y Apellidos" name="nombreAp" required>
            </div>
            <div class="form-group">
              <label for="nombre">Dirección:</label>
              <input type="input" class="form-control" id="direccion" placeholder="Dirección" name="direccion" required>
            </div>
            <div class="form-group">
              <label for="nombre">Teléfono:</label>
              <input type="number" class="form-control" id="telefono" placeholder="Teléfono" name="telefono" required minlength="8">
            </div>
            <div class="form-group">
              <label for="nombre">Profesión:</label>
              <select id="profesion" >
                <option ng-repeat = "profesion in profesiones" value="{{profesion.id}}">{{profesion.nombre}}</option>
              </select>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="email" class="form-control" id="email" placeholder="Ingrese Correo Electronico" name="email" required>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" id="contrasenha" placeholder="Ingrese contraseña" name="pwd" required minlength="4">
            </div>
            </br>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" id="repetirContrasenha" placeholder="Confirmar contraseña"
                name="repetir contraseña" required minlength="4">
            </div>
            <br>
            <button type="submit" id="aceptarRegistro" class="btn btn-primary btn-sm">Aceptar</button>
            <button type="button" id="cancelarRegistro" class="btn btn-danger btn-sm" ng-click="atras()">Cancelar</button>
            </br>
            
          </form>
      </div>
</div>
<div ng-include="'../shared/footer.html'"></div>