<div ng-if="user.rol_id == '3'" ng-include="'/shared/headerAdmin.html'"></div>
<div class="container">    
  <h2>
    Areas
  </h2>
  <div class="card w-50 areas">
    <div ng-repeat="area in areas" class="card-body">
      <h5 class="card-title">{{area.nombre}}</h5>
      <a href="#!verArea/{{area.id}}" class="btn btn-primary">Ver área</a>
    </div>
    <div class="card-body">
        <a href="#!nuevarea" class="btn btn-success">Nueva area</a>
    </div>
  </div>
</div>

<div ng-include="'../shared/footer.html'"></div>