<div ng-if="user.rol_id == '1'" ng-include="'/shared/headerEditor.html'"></div>
<div ng-if="user.rol_id == '2'" ng-include="'/shared/headerNoAdmin.html'"></div>
<div ng-if="user.rol_id == '3'" ng-include="'/shared/headerAdmin.html'"></div>
<div ng-if="user === undefined" ng-include="'/shared/headerPublico.html'"></div>
<div class="row">
        <div class="container post-parallax">
            <h3>Últimos Boletines</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th><input ng-model="searchtxt.titulo" type="text" placeholder="Buscar"></th>
                        <th><input ng-model="searchtxt.area" type="text" placeholder="Buscar"></th>
                        <th><input ng-model="searchtxt.updated_at" type="text" placeholder="Buscar"></th>
                    </tr>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Área</th>
                        <th scope="col">Fecha publicación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="boletin in boletines | filter : searchtxt"" class="seleccionable" ng-click="descargar(boletin)">
                        <td>
                            {{boletin.titulo}}
                        </td>
                        <td>
                            {{boletin.area}}
                        </td>
                        <td>
                            {{boletin.updated_at}}
                        </td>
                    </tr>
                </tbody>
                <label ng-if="boletines.length == 0">Aun no se publico un boletin :(</label>
            </table>
        </div>
    </div>
    <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
          </ul>
    <div ng-include="'../shared/footer.html'"></div>