<div ng-if="user.rol_id == '1'" ng-include="'/shared/headerEditor.html'"></div>
<div ng-if="user.rol_id == '2'" ng-include="'/shared/headerNoAdmin.html'"></div>
<div ng-if="user.rol_id == '3'" ng-include="'/shared/headerAdmin.html'"></div>
<div ng-if="user.rol_id == '0'" ng-include="'/shared/headerNinho.html'"></div>
<div class="container">
  <h2>Ver carta {{tipo}}</h2>
    <div ng-include="'../shared/verCarta.html'"></div>  
    <button ng-if="tipo == 'recibida'" id="responder" class="btn btn-primary btn-sm" ng-click="habilitar()">Responder</button>
    <button ng-if="tipo == 'boletin'" id="boletin" class="btn btn-primary btn-sm" ng-click="crearBoletin()">Crear Boletin</button>
    <br>
    <br>
    <div id="div-resp" class="hidden" ng-include="'../shared/crearCarta.html'"></div>  
    <div ng-repeat="mensaje in conversacion">
      <hr>
      <label><strong>En respuesta a:</strong></label>
      <br>
      <div class="form-group">
        <label>De:</label>
        <a ng-if="mensaje.emisor_id !== user.id" href="#!verPerfil/{{mensaje.emisor_id}}">{{mensaje.emisor.nombre}}</a>
        <a ng-if="mensaje.emisor_id === user.id" >Mi ({{mensaje.emisor.nombre}})</a>
        <br>
        <label>Para:</label>
        <a ng-if="mensaje.receptor_id !== user.id" href="#!verPerfil/{{mensaje.receptor_id}}">{{mensaje.receptor.nombre}}</a>
        <a ng-if="mensaje.receptor_id === user.id" >Mi ({{mensaje.receptor.nombre}})</a>
        <br>
        <label>Fecha: {{mensaje.created_at}}</label>
        <br>
        <label>Asunto: {{mensaje.titulo}}</label>
        <br>
        <label>Mensaje:</label>
        <p>{{mensaje.contenido}}</p>
        <div ng-if="mensaje.archivo !== undefined">
            <label>Archivo adjunto:</label>
            <a href="/api/Archivo/{{mensaje.archivo.id}}">{{mensaje.archivo.nombre_archivo}}</a>
        </div>
      </div>
    </div>
    
</div>
<br>
<br>
<div ng-include="'../shared/footer.html'"></div>