<div ng-include="'/shared/headerAdmin.html'"></div>
<div ng-include="'/shared/perfil.html'"></div>
<button ng-click="atras()" class="btn btn-warning atras">Atras</button>
<div ng-include="'../shared/footer.html'"></div>