<div class="header">
    MENSAJERO
    <img src="../imagenes/logo.jpg" class="img-thumbnail img-responsive" alt="Mensajero logo" width="200" height="150">
</div>
<div class="container">
    <div class="in-parallax-div">
        <a href="#"><button type="button" class="btn btn-primary btn-sm">Inicio</button></a>
        <a href="#!mision"><button type="button" class="btn btn-primary btn-sm">Misión</button></a>
        <a href="#!vision"><button type="button" class="btn btn-primary btn-sm">Visión</button></a>
        <button type="button" ng-if="usuario === undefined" class="btn btn-primary btn-sm" ng-click="toLogin()"> Iniciar
            Sesion</button>
        <button type="button" ng-if="usuario !== undefined" class="btn btn-primary btn-sm" ng-click="inicio(usuario)">
            Mi Cuenta</button>
        <a href="#!verBoletines"><button type="button" class="btn btn-info btn-sm">Boletines</button></a>
    </div>
</div>
<div class="institucional">

    <br>

    <div class="row">
            <div class="col-md-5">
                    <img style="width:600px; height:400px;" src="imagenes/vision.png" class="rounded floated-left" />
                </div>
        <div class="container col-md-4 margen">
            <h2>Visión</h2>
            <p class="lead">Ser el boletin informativo mas importante y</p>
            <p class="lead">popular que brinde una mejor colaboracion</p>
            <p class="lead">al publico juvenil e infantil de la </p>
            <p class="lead">poblacion boliviana que brinde </p>
            <p class="lead"> motivacion a escribir y dar a conocer </p>
            <p class="lead">su opinion sobre temas de caracter general</p>
            <p class="lead">al publico lector que nos visite en la red.</p>
        </div>
    </div>
    </div>
    <br>
    <div class="footer">
      <div class="footer-copyright text-center py-3">Copyright 2019:
        <a href="#"> MoonSoft.SRL. Todos los derechos reservados. </a>
    
      </div>
    </div>