<div ng-include="'/shared/headerAdmin.html'"></div>
<div class="container">
    <h1>Usuarios</h1>
    <table class="table table-bordered table-primary">
        <thead>
          <tr>
            <th><input ng-model="searchtxt.nombre_completo" type="text" placeholder="Buscar"></th>
            <th><input ng-model="searchtxt.correo" type="text" placeholder="Buscar"></th>
          </tr>
          <tr>
            <th>Nombre completo</th>
            <th>Correo electronico</th>
            <th>Rol</th>
            <th>Activar/Desactivar</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="usuario in usuarios | filter : searchtxt">
            <td>{{usuario.nombre_completo}}</td>
            <td>{{usuario.correo}}</td>
            <td>
              <select ng-if="usuario.rol_id !== '3'" ng-model="usuario.rol_id" ng-change="actualizar(usuario)">
                <option ng-selected="usuario.rol_id === '1'" value="1">Editor</option>
                <option ng-selected="usuario.rol_id === '2'" value="2">Profesional</option>
              </select>

              <select ng-if="usuario.rol_id === '3'" disabled>
                <option ng-selected="usuario.rol_id === '3'">Administrador</option>
              </select>
            </td>
            <td>
              <button ng-if="usuario.activo === 1 && usuario.rol_id !== '3'" class="btn btn-danger" ng-click="desactivarUsuario(usuario)">Desactivar cuenta</button>
              <button ng-if="usuario.activo === 0 && usuario.rol_id !== '3'" class="btn btn-success" ng-click="activarUsuario(usuario)">Activar cuenta</button>
            </td>
            <td>
              <a class="nav-link" href="#!verPerfil/{{usuario.id}}">Ver perfil</a>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<div ng-include="'../shared/footer.html'"></div>